.animated.delay-15ms {
	-webkit-animation-delay: 1.5s;
	animation-delay: 1.5s;
}
.animated.delay-25ms {
	-webkit-animation-delay: 2.5s;
	animation-delay: 2.5s;
}
.animated.delay-35ms {
	-webkit-animation-delay: 3.5s;
	animation-delay: 3.5s;
}
.animated.delay-45ms {
	-webkit-animation-delay: 4.5s;
	animation-delay: 4.5s;
}
.animated.delay-5s {
	-webkit-animation-delay: 5.5s;
	animation-delay: 5.5s;
}


.animated.slowest {
	animation-duration: 4s;
}
.animated.most-slow {
	animation-duration: 5s;
}
.animated.very-slow {
	animation-duration: 10s;
}
.animated.very-slower {
	animation-duration: 15s;
}



@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
@keyframes spinReverse {
	from {
		transform: rotate(360deg);
	}
	to {
		transform: rotate(0);
	}
}
@keyframes rotate {
	100% {
		transform:rotate(-360deg);
	}
}
// @keyframes moverBg {
// 		0% { transform: translateY(0); }
// 		50% { transform: translateY(-100px); }
// 		100% { transform: translateY(0); }
// }
@keyframes moverY {
		0% { transform: translateY(0); }
		50% { transform: translateY(-40px); }
		100% { transform: translateY(0); }
}
@keyframes moverX {
		0% { transform: translateX(0); }
		50% { transform: translateX(500px); }
		100% { transform: translateX(0); }
}
@keyframes moverXY {
		0% { transform: translate(0, 0); }
		20% { transform: translate(-200px, 80px); }
		40% { transform: translate(-100px, -300px); }
		60% { transform: translate(300px, -50px); }
		80% { transform: translate(200px, 80px); }
		100% { transform: translate(0, 0); }
}
@keyframes moverXYReverse {
		0% { transform: translate(0, 0); }
		20% { transform: translate(-700px, -360px); }
		40% { transform: translate(-800px, -150px); }
		60% { transform: translate(300px, 100px); }
		80% { transform: translate(200px, 200px); }
		100% { transform: translate(0, 0); }
}

@keyframes pulseOpacity {
	0 {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


.pulseBigger {
	animation-name: pulseBigger;
}
@keyframes pulseBigger {
	from {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	50% {
		-webkit-transform: scale3d(1.2, 1.2, 1.2);
		transform: scale3d(1.2, 1.2, 1.2);
	}
	to {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

.pulseMiddle {
	animation-name: pulseMiddle;
}
@keyframes pulseMiddle {
	from {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	50% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1);
		transform: scale3d(1.1, 1.1, 1.1);
	}
	to {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}



@keyframes sideMoving {
	0% {
		transform: rotate(0);
	}
	30% {
		transform: rotate(-15deg);
	}
	60% {
		transform: rotate(15deg);
	}
	to {
		transform: rotate(0deg);
	}
}



.wave-bg {
	background-repeat: repeat;
	background-position: 0 0;
	background-size: auto 100%;
}

@keyframes animatedBackground {
	from {
		background-position: 0 0;
	}
	to {
		background-position: -10000px 0;
	}
}

.letter-img {
	animation-name: letterMove;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}

@keyframes letterMove {
	0% {
		transform: skew(0deg);
	}
	50% {
		transform: skew(10deg);
	}
	100% {
		transform: skew(0deg);
	}
}
