html {
	font-size: $rem-font-size;
}
body {
	position: relative;

	font-family: $document-font-family;
	font-weight: $document-font-weight;
	font-size: $document-font-size;
	line-height: $document-line-height;
	color: $document-color;

	background-color: $document-background;
	&.scroll-hidden {
		overflow: hidden;
		@include lg() {
			padding-right: 17px;
		}
	}
}

img {
	max-width: 100%;
	height: auto;
}

.background-default {
	background-repeat: no-repeat;
	background-position: 50% 50%;
}


.w-sm-100 {
	@include sm() {
		width: 100% !important;
	}
}
.w-lg-auto {
	@include lg() {
		width: auto !important;
	}
}

.mw-330 {
	max-width: 330px;
}
.mw-400 {
	max-width: 400px;
}
.mw-555 {
	max-width: 555px;
}

.no-border {
	border: none !important;
}


.background-img-fill {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	background-size: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}