$rem-font-size: 16px;
$font: 'Lato', sans-serif;

// values for body tag
$document-font-family: $font;
$document-font-weight: 400;
$document-font-size: 1rem;
$document-color: #282D3B;
$document-line-height: 1.5;
$document-background: #fff;