.advantages-box {
	display: flex;
	flex-direction: column;

	background-color: #fff;
}
.advantages-box-in {
	min-height: 205px;
	display: flex;
	flex-direction: column;
	border-top: 5px solid #EBEBEB;
}