.advantage-box {
	&_modifyed {
		padding: 25px;
		background-color: #F4F4F4;
		.advantage-value {
			margin-top: -55px;
			margin-bottom: 20px;
		}
	}
}
.advantage-value {
	font-weight: 900;
	font-size: 44px;
	line-height: 1.2;
	strong, span {
		background: -webkit-linear-gradient(92.57deg, #CC18BC -4.03%, #FF8340 111.08%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	span {
		font-size: 14px;
		line-height: 1.4;
	}
}