.basket {
	position: relative;
	display: block;
	&:hover {
		text-decoration: none;
	}
}
.basket__indicator {
	position: absolute;
	left: 100%;
	bottom: 100%;
	margin-left: -9px;
	margin-bottom: -8px;
}