.breadcrumbs {
	li {
		font-size: 14px;
		color: #ccc;
		&:after {
			content: '>>';
			display: inline-block;
			margin-left: 5px;
			margin-right: 5px;
		}
		&:last-child {
			&:after {
				display: none;
			}
		}
	}
	a {
		color: #ccc;
		// text-decoration: none;
	}
}