.button-clr {
	border: none;
	padding: 0;
	background-color: transparent;
	&:focus {
		outline: none;
	}
}
.button {
	display: inline-block;

	padding: 11px 25px;
	line-height: 1;

	font-weight: 700;
	color: #fff;
	text-align: center;

	border: 1px solid #FFFFFF;
	border-radius: 35px;
	background-color: transparent;
	transition: linear .2s;
	&:hover {
		color: #fff;
		text-decoration: none;
		box-shadow: 0px 20px 35px rgba(#fff, 0.15);
	}
	&:focus {
		outline: none;
	}
	&-colored {
		padding: 12px 25px;
		background: linear-gradient(99.8deg, #CC18BC -4.03%, #FF8340 111.08%);
		border: none;
		&:hover {
			box-shadow: 0px 20px 35px rgba(#fff, 0.15);
			&.on-white {
				&:hover {
					box-shadow: 0px 20px 35px rgba(#000, 0.15);
				}
			}
		}
	}
	&-colored-border {
		border: none;
		padding: 1px;
		background: linear-gradient(99.8deg, #CC18BC -4.03%, #FF8340 111.08%);
		&.on-white {
			.button-in {
				background-color: #fff;
			}
			&:hover {
				box-shadow: 0px 20px 35px rgba(#000, 0.15);
			}
		}
		&.on-black {
			.button-in {
				background-color: #000;
			}
		}
		&.on-blue {
			.button-in {
				background-color: #031752;
			}
		}
	}
	&_default {
		color: #282D3B;
		border-color: #ebebeb;
		&:hover {
			color: #282D3B;
			box-shadow: 0px 20px 35px rgba(#000, 0.15);
		}
	}
	&_radius_none {
		border-radius: 0;
	}
	&_opacity_zero_six {
		opacity: .6;
	}
	&_hover_none {
		&:hover {
			box-shadow: none;
		}
	}
}
input[type="submit"].button {
	white-space: pre-wrap;
}
.button-in {
	display: inline-block;
	padding: 11px 25px;
	border-radius: 35px;
}
.button-text {
	background: -webkit-linear-gradient(110.86deg, #CC18BC -4.03%, #FF8340 111.08%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.button-square {
	border-radius: 2px;
	font-size: 18px;
	border: none;
	padding: 15px 25px;
	&:hover {
		box-shadow: 0px 20px 35px rgba(#000, 0.15);
	}
}

.button-callback {
	border: none;
	padding: 0;
	@include lg() {
		padding: 11px 25px;
		border: 1px solid #FFFFFF;
	}
	&.button-colored-border {
		@include mlg() {
			background: none;
			.button-in {
				padding: 0;
			}
		}
		@include lg() {
			padding: 1px;
			border: none;
		}
		&:hover {
			@include mlg() {
				box-shadow: none;
			}
		}
	}
}

.button-back {
	display: inline-block;
	padding: 11px 25px;
	width: 144px;
	background: #FCFAFA;
	border-radius: 10px;
	color: #CCCCCC;
	font-size: 16px;
	line-height: 1;
	text-align: center;
	&:hover {
		color: #ccc;
		text-decoration: none;
	}
}


.button-del-circle {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 20px;
	font-size: 8px;
	color: #CC18BC;

	background: #F2F2F2;
	border: 1px solid #EBEBEB;
	border-radius: 50%;
	transition: linear .1s;
	.svg-icon {
		flex-shrink: 0;
		flex-grow: 0;
		transition: linear .1s;
	}
	&:hover {
		border-color: #cdcdcd;
		.svg-icon {
			transform: rotate(90deg);
		}
	}
}