.calc-check {
	text-align: center;
}
.calc-check__lazy {
	display: block;
	width: 140px;
	margin-left: auto;
	margin-right: auto;
	&:after {
		padding-bottom: 60 / 140 * 100%;
	}
}
.calc-check__input {
	&:checked {
		& + .calc-check__label {
			border: 1px solid rgba(#000000, .1);
			box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
			.calc-check__label-in {
				background-color: #fff;
				border-radius: 3px;
				box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
			}
			.calc-check__check {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}
.calc-check__label {
	cursor: pointer;
	// min-width: 207px;
	margin-bottom: 0;
	padding: 6px;
	border: 1px solid transparent;
	// border: 1px solid rgba(#000000, .1);
	// box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
	border-radius: 3px;
	background-color: transparent;
	transition: linear .1s;
}
.calc-check__label-in {
	position: relative;
	display: block;
	padding: 21px 10px;
	transition: linear .1s;
	// background-color: #fff;
	// border-radius: 3px;
	// box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
.calc-check__txt {
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	margin-top: 5px;
	display: block;
}

.calc-check__check {
	position: absolute;
	top: 7px;
	right: 7px;

	width: 28px;
	height: 28px;

	display: inline-flex;
	align-items: center;
	justify-content: center;

	border-radius: 50%;
	border: 1px solid #C4C4C4;

	opacity: 0;
	visibility: hidden;
	transition: linear .1s;
}

.calc-check__icon {
	color: #005E91;
}