.callback-form {
	position: relative;
	background: #FFF;
	padding: 40px;
	width: auto;
	max-width: 615px;
	margin: 20px auto;
	transition: 1s all;
	@include msm() {
		padding: 25px 15px;
	}
	.form-group {
		margin-bottom: 25px;
		@include msm() {
			margin-bottom: 15px;
		}
	}
	.form-control {
		width: 100%;
		border: 1px solid #E3E3E3;
		padding: 17px 40px;
		
		font-weight: 500;
		font-size: 18px;
		line-height: 1;
		color: #000;

		border-radius: 4px;
		background: #F5F5F5;
		@include msm() {
			padding-left: 20px;
			padding-right: 20px;
		}
		@include iph() {
			font-weight: 500;
			font-size: 18px;
			line-height: 1;
			/* identical to box height, or 24px */

			color: rgba(#000000, .4);
		}
	}
	.label {
		display: block;
		font-weight: bold;
		font-size: 18px;
		line-height: 1.315;
		margin-bottom: 18px;
		/* or 24px */

		/* Blue */
		color: #0B94DC;
	}
}
.callback-form__title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.315;
	/* or 47px */
	text-align: center;

	color: #3D3D3D;
	@include msm() {
		font-size: 25px;
	}
}
.callback-form__sub-title {
	font-size: 18px;
	line-height: 1.23;
	text-align: center;

	color: #AB9B9B;
	margin-bottom: 37px;
	@include msm() {
		font-size: 16px;
	}
}