.calc-section {

}
.calc-wrap {
	overflow: hidden;
	position: relative;
	border: 1px solid rgba(43, 41, 45, 0.2);
	border-radius: 8px;
	background-position: 100% 100%;
	background-repeat: no-repeat;
	// background-size: cover;
	background-size: cover;
	min-height: 432px;

	color: #fff;
	transition: linear .2s;
	box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.05);
	background-color: #fff;
	@include msm() {
		min-height: 350px;
		padding-bottom: 90px;
	}
	&:hover {
		box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.2);
		text-decoration: none;
		color: #fff;
		.wave-bg {
			animation: animatedBackground 500s linear infinite;
		}
		.calc-wrap__absolute-img {
			animation: pulse 6s linear infinite;
		}
		.calc-wrap__absolute-img_2 {
			animation: pulseMiddle 3s linear infinite;
		}
		.calc-wrap__absolute-in {
			animation: shake 1s linear infinite;
		}
	}
	&_color_main {
		color: #282D3B;
		&:hover {
			color: #282D3B;
		}
	}
	&_minh_bigger {
		@include msm() {
			min-height: 450px;
			padding-bottom: 210px;
		}
	}
}
.calc-wrap__background {

}

.calc-wrap__absolute-img {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 192px;
	height: 163px;
	// transform: translate(15%, 10%);
	margin-bottom: -35px;
	margin-right: -35px;

	border: 12px solid #feba23;
	border-radius: 40px;
	overflow: hidden;
	&_2 {
		width: 313px;
		height: 313px;
		border: none;
		border-radius: 0;
		transform: translate(0, 0);
		margin: 0;
	}
}
.calc-wrap__absolute-in {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -30px;
	margin-top: -90px;
}