.category {

}
.category-item {
	position: relative;
	display: flex;
	flex-wrap: nowrap;
	padding: 14px 20px 14px 70px;
	border: 1px solid #EBEBEB;

	background: #FFFFFF;
	border-radius: 7px;
	// transition: linear .2s;
	&:hover {
		color: #fff;
		text-decoration: none;
		box-shadow: 0px 20px 35px rgba(#000, 0.15);
		background: linear-gradient(103.28deg, #CC18BC -4.03%, #FF8340 111.08%);
		.category-item-arrow {
			transform: translate(3px, 0);
			color: #fff;
		}
		.category-item-icon {
			display: none;
		}
		.category-item-icon-hover {
			display: block;
		}
	}
	&_others {
		color: #626176;
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			font-weight: 400;
		}

	}
}
.category-item-icon {
	width: 30px;
	margin-right: 20px;
	position: absolute;
	top: 13px;
	left: 20px;
}
.category-item-icon-hover {
	position: absolute;
	top: 13px;
	left: 20px;
	display: none;
}
.category-item-arrow {
	transition: transform linear .2s;
}