.checkbox {
	&_simple {
		.checkbox-pseudo {
			.svg-icon {
				// margin-top: -3px;
				// margin-right: -3px;
			}
		}
		.checkbox-input {
			&:checked {
				& + label {
					.checkbox-pseudo {
						border-color: transparent;
						background: #fff;
						.svg-icon {
							opacity: 1;
							visibility: visible;
						}
					}
				}
			}
		}
	}
}
.checkbox-input {
	&:checked {
		& + label {
			.checkbox-pseudo {
				border-color: transparent;
				background: linear-gradient(90deg, #9456E2 -47.06%, #EB4361 50%);
				.svg-icon {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
}
.checkbox-label {
	position: relative;
	padding-left: 25px;
}
.checkbox-pseudo {
	position: absolute;
	top: 5px;
	left: 0;

	width: 17px;
	height: 17px;
	border: 1px solid #EBEBEB;
	border-radius: 2px;
	.svg-icon {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 2;

		opacity: 0;
		visibility: hidden;
	}
}
.checkbox-txt {

}