h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 10px;
}
h1 {
	font-size: 36px;
	font-weight: 900;
	line-height: 1.2;
	@include sm() {
		font-size: 64px;
	}
	@include xl() {
	}
}
h2 {
	font-size: 32px;
	font-weight: 900;
	line-height: 1.2;
	@include sm() {
		font-size: 44px;
	}
}
h3 {
	font-size: 30px;
	line-height: 1.3;
	font-weight: 700;
}
h4 {
	font-size: 20px;
	line-height: 1.4;
	font-weight: 700;
}

.title-label {
	font-size: 14px;
	line-height: 17px;
	font-weight: 700;
	letter-spacing: 0.2em;
	text-transform: uppercase;

	background: -webkit-linear-gradient(146.64deg, #CC18BC -4.03%, #FF8340 111.08%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.title-label-icon {
	font-size: 30px;
	color: #F3F3F3;
	position: absolute;
	top: 0;
	transform: translate(-50%, 0);
}
.font-size-10 {
	font-size: 10px;
}
.font-size-11 {
	font-size: 11px;
}
.font-size-12 {
	font-size: 12px;
}
.font-size-14 {
	font-size: 14px;
}
.font-size-18 {
	font-size: 18px;
}
.font-size-16 {
	font-size: 16px;
}
.font-size-20 {
	font-size: 20px;
}
.font-size-22 {
	font-size: 18px;
	@include sm() {
		font-size: 22px;
	}
}
.font-size-32 {
	font-size: 25px !important;
	@include sm() {
		font-size: 32px !important;
	}
}
.font-size-40 {
	font-size: 30px;
	@include sm() {
		font-size: 40px;
	}
}

.text-grey {
	color: #626176;
	&:hover {
		color: #626176;
	}
}
.text-main {
	color: #282D3B;
	&:hover {
		color: #282D3B;
	}
}
.text-main-dark {
	color: #5F5656;
	&:hover {
		color: #5F5656;
	}
}
.text-main-light {
	color: rgba(#2B292D, .6);
	&:hover {
		color: rgba(#2B292D, .6);
	}
}
.text-grey-light {
	color: #ccc !important;
}
.text-grey-lighter {
	color: rgba(#A49191, .3) !important;
}
.text-yellow {
	color: #FFAE00;
}
.text-orange {
	color: #FF8340 !important;
}
.text-gradient {
	background: -webkit-linear-gradient(110.86deg, #CC18BC -4.03%, #FF8340 111.08%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	&.text-decoration-underline {
		position: relative;
		&:after {
			content: '';

			position: absolute;
			bottom: -3px;
			left: 0;
			width: 100%;
			height: 1px;
			background: -webkit-linear-gradient(110.86deg, #CC18BC -4.03%, #FF8340 111.08%);
		}
	}
	&.link {
		&:hover {
			&:after {
				opacity: 0;
				visibility: hidden;
			}
		}
	}
}

hr.devider {
	border: none;
	border-bottom: 1px solid rgba(#2B292D, .1);
	&_border_grey {
		border-bottom: 1px solid #ebebeb;
	}
	&_border_grey_light {
		border-bottom: 1px solid rgba(#ebebeb, .2);
	}
}

.title-collapse {
	&.collapsed {
	}
	&:not(.collapsed) {
		.svg-icon {
			transform: rotate(90deg);
		}
	}
}

.txt-steps {
	font-size: 13px;
	line-height: 16px;
}

.text-decoration-underline {
	text-decoration: underline;
}

.title-label-small {
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #CCCCCC;
}


.title-wrap {
	display: inline-block;
	position: relative;
	padding-bottom: 4px;
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-bottom: 8px;
	}
	&:after {
		content: '';

		position: absolute;
		bottom: 0;
		left: 0;

		width: 100%;
		height: 2px;

		background: -webkit-linear-gradient(146.64deg, #CC18BC -4.03%, #FF8340 111.08%);
	}
}


.content-shadow {
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
}



.line-height-1 {
	line-height: 1 !important;
}

.gradient-dash {
	display: inline-block;
	width: 22px;
	height: 3px;

	background: -webkit-linear-gradient(146.64deg, #CC18BC -4.03%, #FF8340 111.08%);
	vertical-align: middle;
	position: relative;
	margin-left: -15px;

}

.wh-nowrap {
	white-space: nowrap;
}

.link-title {
	display: block;
	color: inherit;
	transition: linear .2s;
	&:hover {
		color: inherit;
		text-decoration: none;
		transform: translate(3px, 0);
	}
}