.developement-title {
	position: relative;
	h2 {
		// text-align: left;
		// padding-left: 30%;
		// @include md() {
		// 	padding-left: 40%;
		// }
	}
}
.developement-cogs {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;

	background-repeat: no-repeat;
	// background-position: 45% 50%;
	background-position: 50% 50%;
	background-size: cover;
	height: 120px;
	@include md() {
	}
}