.form-style {
	.form-control {
		box-shadow: none;
		border-color: #EBEBEB;
		border-radius: 1px;
		@include iph() {
			color: rgba(#282D3B, .3);
		}
		&:focus {
			border-color: #EBEBEB;
		}
	}
}
.form-control {
	padding: 0;
	padding: 14px 15px 13px;
	line-height: 1;
	height: auto;
	min-height: auto;

	background: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.1);
	border-radius: 2px;

	resize: none;
	@include iph() {
		color: rgba(#ccc, .6);
		mix-blend-mode: normal;
	}
	&:focus {
		box-shadow: none;
		outline: none;
		border: 1px solid rgba(0, 0, 0, 0.2);
		box-shadow: 0px 1px 18px rgba(#000, .1);
	}
}