.front {
	display: flex;
	flex-direction: column;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	&_small {
		.front__container {
			min-height: auto;
		}
	}
	&_about_gradient {
		background: radial-gradient(60.6% 60.6% at 50% 50%, #4F2684 0%, #08041D 100%);
	}
}
.front__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 3;
	@include sm() {
		min-height: 700px;
	}
}

.front-bg-part1 {
	position: absolute;
	bottom: 10px;
	left: 2%;
	z-index: 2;

	transform-origin: 50% 50%;
	animation: moverX 20s linear infinite;
}
.front-bg-part2 {
	position: absolute;
	bottom: 80px;
	right: 40%;

	transform-origin: 50% 50%;
	animation: moverXY 30s linear infinite;
}
.front-bg-part3 {
	position: absolute;
	bottom: 7%;
	right: 25%;

	transform-origin: 50% 50%;
	animation: pulseOpacity 7s linear infinite;
}
.front-bg-part4 {
	position: absolute;
	bottom: 30%;
	right: 18%;

	transform-origin: 50% 50%;
	animation: moverXYReverse 40s linear infinite;
}
.front-bg-part7 {
	position: absolute;
	top: 27%;
	right: 25%;
	transform-origin: 50% 50%;
	animation: moverY 5s linear infinite;
}
.front-bg-part8 {
	position: absolute;
	top: 0;
	left: 0;
}
.front-bg-part9 {
	position: absolute;
	bottom: 10px;
	left: 25%;
	z-index: 1;
}
.front-bg-part1-img {
	animation-name: spin;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	// text-transform: 50% 50%;
}
.front-bg-part2-img {
	animation-name: spinReverse;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	// text-transform: 50% 50%;
}
.front-bg-part4-img {
	animation-name: spinReverse;
	animation-duration: 20s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	// text-transform: 50% 50%;
}
.front-bg-part7-img {
	animation-name: spin;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
.front-bg-part8-img {
	animation: pulseOpacity;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
.front-bg-part9-img {
	animation-name: pulseOpacity;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.front-main-bg {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	&_about {
		top: 50%;
		left: 50%;
		bottom: auto;
		right: auto;
		transform: translate(-50%, -50%);
		width: 100%;
		height: 100%;
		.background-img-fill {
			animation-name: moverY;
			animation-duration: 6s;
			animation-iteration-count: infinite;
		}
	}
}





.about-bg-part1 {
	right: auto;
	top: auto;
	left: 0;
	bottom: 20%;
}

.about-bg-part2 {
	right: auto;
	top: auto;
	left: 50%;
	bottom: 40%;
}
.about-bg-part3 {
	bottom: auto;
	right: auto;
	left: 33%;
	top: 10%;
}
.about-bg-part4 {
	bottom: auto;
	right: auto;
	left: 3%;
	top: -30px;
}
.about-bg-part5 {
	top: auto;
	left: auto;
	right: 15%;
	bottom: 13%;
}
.about-bg-part6 {
	top: auto;
	right: auto;
	bottom: 5%;
	left: 27%;
}
.about-bg-part7 {
	top: auto;
	right: auto;
	bottom: 5%;
	left: 50%;
}
.about-bg-part8 {
	left: auto;
	bottom: auto;
	top: 50%;
	right: -30px;
}
.about-bg-part9 {
	left: auto;
	bottom: auto;
	top: 10%;
	right: 5%;
}