.greetings {
	position: relative;
}
.greetings-bg {
	position: absolute;
	img {
		// animation-name: pulseOpacity;
		// animation-iteration-count: infinite;
	}
}
.greetings-bg-part1 {
	left: 1%;
	top: 50%;
}
.greetings-bg-part2 {
	top: 20%;
	left: 20%;
	animation: moverXY 20s linear infinite;
}
.greetings-bg-part3 {
	top: 70%;
	left: 15%;
	animation: moverX 35s linear infinite;
}
.greetings-bg-part4 {
	bottom: 10%;
	left: 60%;
	animation: moverY 22s linear infinite;
}
.greetings-bg-part5 {
	top: 13%;
	left: 70%;
	animation: moverXY 26s linear infinite;
}
.greetings-bg-part6 {
	top: 28%;
	left: 85%;
	animation: moverXYReverse 28s linear infinite;
}
.greetings-bg-part7 {
	top: 10%;
	right: 5%;
	animation: moverXY 30s linear infinite;
}
.greetings-bg-part1-img {
	// animation-duration: 2s !important;

}
.greetings-bg-part2-img {
	// animation-duration: 3s !important;
}
.greetings-bg-part3-img {
	// animation-duration: 4s !important;
}
.greetings-bg-part4-img {
	// animation-duration: 5s !important;
}
.greetings-bg-part5-img {
	// animation-duration: 6s !important;
}
.greetings-bg-part6-img {
	// animation-duration: 7s !important;
}
.greetings-bg-part7-img {
	// animation-duration: 8s !important;
}