.header {
	padding: 20px 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 4;
	@include md() {
		padding: 40px 0;
	}
	&_v2 {
		position: static;
		background: #FFFFFF;
		box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
		@include md() {
			padding: 20px 0;
		}
		@include lg() {
			.menu-nav {
				a {
					color: #282D3B;
				}
			}
		}
	}
}