.indicator {
	display: block;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-left: 5px;
	padding-right: 5px;

	font-size: 10px;
	line-height: 12px;
	text-align: center;
	color: #FFFFFF;

	background: linear-gradient(94.05deg, #CC18BC -4.03%, #FF8340 111.08%);
	border-radius: 4px;
}