.menu-nav {
	padding: 0;
	margin: 0;
	list-style: none;
	& > li {
		position: relative;
		font-size: 0;
		@include xl() {
			padding-left: 35px;
			padding-right: 35px;
		}
		& > a {
			display: block;
			font-size: 14px;
			color: #fff;
			@include lg() {
				position: relative;
				transition: linear .2s;
				&:before {
					content: '';

					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 1px;

					background-color: #fff;
					opacity: 0;
					visibility: hidden;
					transform: translate(0, 3px);

					transition: linear .2s;
				}
				&:hover {
					&:before {
						opacity: 1;
						visibility: visible;
						transform: translate(0, 0);
					}
				}
			}
			&:hover {
				text-decoration: none;
			}
		}
	}
}

.menu-dropdown {
	position: relative;
	z-index: 999;
	&:hover {
		@include lg() {
			.menu-dropdown-toggle {
				background-color: #fff;
				color: #282D3B !important;
				.svg-icon {
					opacity: 0;
					visibility: hidden;
				}
				@include lg() {
					span {
						&:before {
							display: none;
						}
					}
				}
			}
			.menu-dropdown-drop {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}
.menu-dropdown-toggle {
	position: relative;
	display: block;
	padding: 2px 10px;
	font-size: 14px;
	color: #fff !important;
	text-decoration: none !important;
	.svg-icon {
		@include mlg() {
			display: none;
		}
		font-size: 6px;
		margin-left: 2px;
	}

}
.menu-dropdown-drop {
	@include lg() {
		position: absolute;
		top: 100%;
		left: 0;
		opacity: 0;
		visibility: hidden;
		background-color: #fff;
		font-size: 16px;
		border-top: 1px solid #EBEBEB;
		margin: 0;
		padding: 10px;
	}
	a {
		color: #fff;
		text-decoration: none !important;
		@include lg() {
			color: #282D3B !important;
			white-space: nowrap;
			&:hover {
				color: #000 !important;
			}
		}
	}
}