.our-works {
	padding: 70px 0;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	@media only screen and (max-width: 1299px) {
		padding-bottom: 110px;
	}
}
.our-works__container {
	max-width: 1240px;
	position: relative;
}
// .our-works__nav {
// 	position: absolute;
// 	top: 50%;
// 	left: 0;
// 	width: 100%;
// 	transform: translate(0, -50%);
// 	@media only screen and (max-width: 1299px) {
// 		top: 100%;
// 		margin-top: 20px;
// 		transform: none;
// 	}
// }

// .our-works__button {
// 	display: inline-block;
// 	width: 26px;

// 	position: absolute;
// 	top: 50%;
// 	transform: translate(0, -50%);
// 	@media only screen and (max-width: 1299px) {
// 		left: 50%;
// 		transform: translate(-50%, 0);
// 	}
// 	&_prev {
// 		@media only screen and (max-width: 1299px) {
// 			margin-left: -30px;
// 		}
// 		@media only screen and (min-width: 1300px) {
// 			left: -30px;
// 		}
// 		@media only screen and (min-width: 1400px) {
// 			left: -75px;
// 		}
// 	}
// 	&_next {
// 		@media only screen and (max-width: 1299px) {
// 			margin-left: 30px;
// 		}
// 		@media only screen and (min-width: 1300px) {
// 			right: -30px;
// 		}
// 		@media only screen and (min-width: 1400px) {
// 			right: -75px;
// 		}
// 		.our-works__img {
// 			transform: rotate(180deg);
// 		}
// 	}
// }
.our-works__img {
	display: block;
	width: 26px;
	&:after {
		padding-bottom: 73 / 26 * 100%;
	}
}
