.pagination {
	.page-item {

	}
	.page-link {

	}
}
.page-item {
	&.active {
		.page-link {
			background: linear-gradient(93.27deg, #CC18BC -4.03%, #FF8340 111.08%);
			border-color: #ccc;
		}
	}
}
.page-link {
	border-color: #ccc;
	font-size: 16px;
	line-height: 1;
	color: #282D3B;
	&:hover {
		color: #000;
		background-color: transparent;
		border-color: #ccc;
	}
}