.portfolio {

}
.portfolio-wrap {
	box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.05);
	border-radius: 14px;
	background-color: #fff;
}
.portfolio-head {
	padding: 30px 20px;
	background: linear-gradient(110.85deg, #CC18BC -4.03%, #FF8340 111.08%);
}
.portfolio-scroll {
	height: 400px;
	overflow-y: auto;
	&_small {
		height: 100px;
	}
	&_medium {
		height: 500px;
	}
	&_height_340 {
		height: 340px;
	}
}

.portfolio-project {
	display: block;
	color: #282D3B;
	&:hover {
		color: #282D3B;
		text-decoration: none;
		.portfolio-img {
			transform: rotate(5deg);
		}
	}
}
.portfolio-img {
	display: inline-block;
	font-size: 0;
	box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.12);
	transition: linear .2s;
}
.portfolio-shadow {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 188px;
	z-index: 9999;

	background-repeat: no-repeat;
	background-position: 50% 0;
	background-size: cover;
	background-image: url('../images/white-shadow.png');
	&_small {
		height: 124px;
	}
	&_position_new {
		bottom: -40px;
	}
}