.radio-dif {
	&_border {
		border: 1px solid #EBEBEB;
		border-radius: 5px;
	}
}
.radio-dif-input {
	&:checked {
		& + label {
			color: #282D3B;
			.svg-icon {
				color: #5CEF50;
			}
			.radio-dif-pseudo {
				&:before {
					background-color: #FF8340;
				}
			}
		}
	}
}
.radio-dif-label {
	position: relative;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	padding: 14px 18px 14px 65px;

	background: #FFFFFF;
	border: 1px solid #EBEBEB;
	border-radius: 5px;

	color: #ccc;

	span {
		// margin-left: auto;
		font-size: 14px;
	}
	&:not(.collapsed) {
		.svg-icon {
			// transform: rotate(-90deg);
		}
	}
	&.collapsed {
		.svg-icon {
			transform: rotate(90deg);
		}
	}
	&:focus {
		outline: none;
	}
}
.radio-dif-pseudo {
	position: absolute;
	top: 50%;
	left: 18px;
	transform: translate(0, -50%);

	width: 16px;
	height: 16px;

	border-radius: 50%;
	border: 1px solid #ebebeb;
	&:before {
		content: '';

		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		width: 8px;
		height: 8px;

		background-color: #ccc;
		border-radius: 50%;
	}
}

.radio-dif-gradient-hover {
	border-radius: 8px;
	.radio-dif-label {
		text-align: right !important;
	}
	&:hover {
		// border-color: transparent;
		.radio-dif-label {
			text-align: left !important;
			border-radius: 8px;
			&.collapsed {
				background: linear-gradient(125.67deg, #CC18BC -4.03%, #FF8340 111.08%);
				box-shadow: 0px 11px 55px rgba(0, 0, 0, 0.07), 0px 13px 18px rgba(0, 0, 0, 0.15);
				div, .svg-icon, span {
					color: #fff !important;
				}
			}
		}
	}
}