.result-wrap {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 15px;
	border-radius: 13px;
	display: flex;
	flex-direction: column;
}
.result-wrap-in {
	border: 1px dashed #EBEBEB;
	border-radius: 13px;
	padding: 0 10px;
	min-height: 378px;
	@include md() {
		padding: 20px 30px;
	}
}

.result-value {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	margin: 5px 0;

	font-weight: 900;
	font-size: 44px;
	line-height: 1;

	color: #FF8340;
	strong {
		font-weight: 900;
	}
	span {
		font-size: 16px;
		line-height: 24px;
		display: inline-block;
		margin-top: 5px;
		margin-left: 5px;
	}
	&_sm_smaller {
		flex-wrap: nowrap;
		@include sm() {
			margin-top: 7px;
			font-size: 32px;
			line-height: 1;
			span {
				margin-top: 0;
				line-height: 1;
			}
		}
	}
}

.result-value-wrap {
	padding: 20px 25px;
	@include xl() {
		&:not(:nth-child(3n-2)) {
			border-left: 1px solid rgba(#EBEBEB, .2);
		}
	}
}

.result-wrap-border {
	border-right: 1px solid #EBEBEB;
	.result-value-wrap {
		border-bottom: 1px solid #ebebeb;
		&:last-child {
			border-color: transparent;
		}
	}
}