.reviews {
	position: relative;
}
.reviews-slider {
	.owl-dots {
		margin-top: 20px !important;
		.owl-dot {
			span {
				background: #2B292D;
				mix-blend-mode: normal;
				opacity: 0.2;
			}
			&:focus {
				outline: none;
			}
			&.active {
				span {
					background: linear-gradient(92.62deg, #CC18BC -4.03%, #FF8340 111.08%);
					opacity: 1;
				}
			}
		}
	}
}

.reviews-img {
	position: absolute;
	bottom: 0;
	right: 15%;
	width: 273px;
	height: 243px;

	// animation-name: sideMoving;
	// animation-duration: 10s;
	// animation-iteration-count: infinite;
}