.service-card {
	position: relative;
	overflow: hidden;
	padding: 20px;
	border-radius: 5px;
	// transition: linear .2s;

	color: #626176;

	background: #FFFFFF;
	box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.04);
	border-radius: 4px;
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: #282D3B;
	}
	&:before {
		content: '';

		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		background-image: url('../images/service-card-bg.png');
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;
		border-radius: 5px;

		opacity: 0;
		visibility: hidden;
		transition: linear .2s;
		transform: scale(.5, .5);
	}
	img {
		transition: linear .2s;
	}
	&:hover {
		text-decoration: none;
		color: #fff;
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			color: #fff;
		}
		&:before {
			opacity: 1;
			visibility: visible;
			transform: scale(1, 1);
		}
		img {
			transform: translate(5px, 0);
		}
		.service-card__count {
			color: #fff;
			background: none;
			-webkit-background-clip: border-box;
			-webkit-text-fill-color: #fff;
			opacity: .1;
		}
		.service-card__body {
			div {
				color: #fff;
			}
		}
	}
}
.service-card__body {
	padding: 20px 10px;
	div {
		color: #626176;
	}
}

.service-card__count {
	position: absolute;
	top: 5px;
	left: 10px;
	font-size: 20px;
	line-height: 24px;
	font-weight: 700;
	letter-spacing: 0.18em;

	background: linear-gradient(92.95deg, #CC18BC -4.03%, #FF8340 111.08%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	opacity: 0.2;
}