.services-tabs-anchors {
	padding: 0;
	margin: 0;
	list-style: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 3;
	li {
		position: absolute;
		top: 60%;
		left: 20%;
		font-size: 0;
		&:nth-child(2) {
			top: 30%;
			left: 35%;
		}
		&:nth-child(3) {
			top: 51%;
			left: 47%;
		}
		&:nth-child(4) {
			top: 49%;
			left: 64%;
		}
		&:nth-child(5) {
			top: 60%;
			left: 74.5%;
		}
		a {
			display: block;
			position: relative;
			width: 20px;
			height: 20px;
			animation-name: heartBeat;
			animation-duration: 3s;
			animation-iteration-count: infinite;
			@include md() {
				width: 40px;
				height: 40px;
			}

			background: #FFFFFF;
			box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
			border-radius: 50%;
			&:before {
				content: '';

				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);

				height: 8px;
				border-left: 2px solid #0B94DC;

				transition: ease-in-out .2s;
				transform-origin: 50% 50%;
				@include md() {
					height: 20px;
					border-left: 4px solid #0B94DC;
				}
			}
			&:after {
				content: '';

				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				
				width: 8px;
				border-bottom: 2px solid #0B94DC;
				
				transition: ease-in-out .2s;
				transform-origin: 50% 50%;
				@include md() {
					width: 20px;
					border-bottom: 4px solid #0B94DC;
				}
			}
			&:hover, &:focus {
				background-color: #FCEA50;
			}
			&.active {
				background-color: #FCEA50;
				&:before {
					border-color: #fff;
					transform: translate(-50%, -50%) rotate(180deg);
				}
				&:after {
					border-color: #fff;
					transform: translate(-50%, -50%) rotate(-180deg);
				}
			}
		}
	}
}
.services-tabs__button {
	width: 254px;
}
.services-tabs-list {
	padding-left: 20px;
	font-size: 24px;
	line-height: 32px;

	color: #AB9B9B;
	@include mmd() {
		font-size: 20px;
		display: flex;
		flex-wrap: wrap;
		// padding-left: 0;
		li {
			padding-right: 30px;
		}
	}
	@include msm() {
		font-size: 18px;
	}
	@media only screen and (max-width: 400px) {
		font-size: 16px;
	}
}
.services-tabs__list {
	margin: 25px 0 50px;
	@include mmd() {
		margin: 15px 0 30px;
	}
}
.services-tabs-price {
	font-weight: 900;
	font-size: 32px;
	color: #0B94DC;
	@include mmd() {
		font-size: 28px;
	}
	@include msm() {
		font-size: 24px;
	}
	@media only screen and (max-width: 400px) {
		font-size: 18px;
	}
}
.services-tabs-lazy {
	&:after {
		padding-bottom: 50%;
	}
}
.services-tabs__column {
	margin-bottom: 15px;
	@include sm() {
		// width: 100%;
	}
	@include md() {
		width: 100%;
		flex: 0 0 275px;
		max-width: 275px;
		margin-bottom: 30px;
	}
	@include mmd() {
		// text-align: center;
		br {
			display: none;
		}
		// display: none;
	}
	&_large {
		// flex: 0 0 (100% - 18.23%);
		width: 100%;
		padding-left: 0;
		padding-right: 0;
		margin-bottom: 40px;
		@include md() {
			max-width: none;
			flex: 1 1 auto;
			padding-left: 15px;
			padding-right: 15px;
		}
		// max-width: (100% - 18.23%);
	}
}
.services-tabs__row {
	align-items: center;
	justify-content: center;
	flex-direction: column-reverse;
	@include md() {
		flex-direction: row;
		justify-content: flex-start;
		flex-wrap: nowrap;
	}
}
.services-tabs-pane {
	// &.out {
	// 	animation-name: bounceOutLeft;
	// 	animation-duration: 1s;
	// }
	// &.active {
	// 	animation-name: bounceInRight;
	// 	animation-duration: 1s;
	// }
}
.services-tabs {

}
.services-tabs__pane {
	&.out {
		animation-name: zoomOut;
		animation-duration: 1s;
	}
	&.active {
		animation-name: zoomIn;
		animation-duration: 1s;
	}
}