.shop-card {
	display: block;
	text-decoration: none !important;
	position: relative;
	background: #FFFFFF;
	box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.05);
	border-radius: 5px;
	overflow: hidden;
	&:before {
		content: '';

		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 2;

		background-image: url('../images/shop-card-bg.svg');
		background-position: 50% 50%;
		background-repeat: no-repeat;
		opacity: 0;
		visibility: hidden;
		transition: linear .2s;
	}
	&:after {
		content: '';

		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;

		background: linear-gradient(91.87deg, #CC18BC -4.03%, #FF8340 111.08%);
		opacity: 0;
		visibility: hidden;
		transition: linear .2s;
	}
	&:hover {
		&:before, &:after {
			opacity: 1;
			visibility: visible;
		}
		.shop-card-head {
			color: #fff;
		}
		.shop-card-body {
			color: #fff;
		}
		.shop-card-price {
			color: #fff;
		}
		.button {
			background: #fff;
			color: #F16661;
			transform: scale(1.1, 1.1);
		}
	}
}
.shop-card-head {
	padding: 25px;
	border-bottom: 1px solid #EBEBEB;
	color: #CC18BC;
	font-weight: 700;
	font-size: 20px;
}
.shop-card-body {
	padding: 25px 25px 40px;
	color: #626176;
	font-size: 16px;
	@include mxl() {
		font-size: 14px;
	}
	.button {
		box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.15);
	}
}
.shop-card-in {
	z-index: 3;
}
.shop-card-price {
	font-weight: 900;
	font-size: 40px;
	line-height: 48px;
	text-align: center;
	color: #F16661;
}