.socials {
	// background-color: blue;
	.socials-button {
		margin-left: -1px;
		margin-top: -1px;
	}
}
.socials-link {
	display: inline-block;
	color: #2B292D;
	.svg-icon {
		transition: linear .2s;
	}
	&:hover {
		color: #2B292D;
		text-decoration: none;
		.svg-icon {
			transform: translate(0, -2px);
		}
	}
}
.socials-button {
	display: inline-block;
	border: 1px solid #777C7D;
	padding: 8px 15px 8px;

	font-size: 16px;
	line-height: 1;
	color: #fff;
	text-align: center;

	background: rgba(66, 64, 64, 0.296);
	backdrop-filter: blur(11px);
	border-radius: 6px 2px 0px 0px;
	.svg-icon {
		transition: linear .2s;
	}
	&:hover {
		color: #fff;
		text-decoration: none;
		.svg-icon {
			transform: translate(0, -2px);
		}
	}
	&_theme_two {
		color: #C4C4C4;
		border-radius: 6px 6px 0 0;
	}
}