.table-basket {
	@include sm() {
		border-radius: 3px;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
	}
	@include msm() {
		display: block;
	}
	thead {
		@include msm() {
			display: block;
		}
		th {
			border: none;
			font-size: 16px;
			line-height: 28px;
			color: #ccc;
			font-weight: 400;
			border-bottom: 1px solid #EDEDED;;
			@include sm() {
				&:first-child {
					padding-left: 25px;
				}
				&:last-child {
					padding-right: 25px;
				}
			}
			@include msm() {
				display: block;
			}
		}
		@include msm() {
			display: none;
		}
	}
	tbody {
		@include msm() {
			display: block;
		}
		tr {
			background-color: #fff;
			&:nth-child(even) {
				background: #FCFAFA;
			}
			@include msm() {
				position: relative;
				display: block;
				margin-bottom: 20px;
				.button-del-circle {
					position: absolute;
					right: 20px;
					top: 20px;
				}
			}
		}
		td {
			border: none;
			@include sm() {
				&:first-child {
					padding-left: 25px;
				}
				&:last-child {
					padding-right: 25px;
				}
			}
			@include msm() {
				display: block;
				&:first-child {
					padding-right: 50px;
				}
				&:last-child {
					padding: 0;
				}
			}
		}
	}
}

.table-basket-title {
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
	color: #282D3B;
}
.table-basket-category {
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: #CCCCCC;
}
.table-basket-price {
	font-size: 20px;
	line-height: 30px;
	color: #E84D4D;
}