.total-card {
	background-image: url('../images/total-card-bg.png');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
	border-radius: 13px;
}