<footer class="footer pt-3 pt-lg-5 mt-auto">
	<div class="container-fluid pt-4">
		<div class="row">
			<div class="col-xl-11 ml-auto mr-auto">
				<div class="row flex-column flex-md-row justify-content-md-between">
					<div class="column mb-4">
						<div class="d-flex flex-nowrap text-main text-decoration-none mb-3 pb-2">
							<a class="logo d-block flex-shrink-0 mr-1" href="#">
								<img src="images/logo-footer.svg" style="width: 55px;" alt="">
							</a>
							<div class="ml-1">
								<h4 class="mb-0">TRATYFA</h4>
								<div>web and mobile development</div>
							</div>
						</div>
						<div class="text-grey font-size-18">"FZE" – professional company which <br> specializes in providing a full range of <br> services in web development</div>
					</div>
					<div class="column flex-grow-1">
						<div class="row flex-column flex-md-row justify-content-md-around" id="accordionExample">
							<div class="column mb-4">
								<h4 class="title-collapse first mb-1" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
									<span>Home</span>
									<svg class="svg-icon font-size-10 ml-2 d-md-none">
										<use xlink:href="images/svg-sprite/svgSprite.svg#arrow"></use>
									</svg>
								</h4>
								<div id="collapse1" class="collapse first show" data-parent="#accordionExample">
									<ul class="list-unstyled mb-0">
										<li><a class="text-grey" href="#">Lorem Ipsum</a></li>
										<li><a class="text-grey" href="#">Is simply dummy text</a></li>
										<li><a class="text-grey" href="#">Printing and typesetting</a></li>
										<li><a class="text-grey" href="#">Lorem Ipsum has</a></li>
									</ul>
								</div>
							</div>
							<div class="column mb-4">
								<h4 class="title-collapse collapsed mb-1" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapse2">
									<span>Shop</span>
									<svg class="svg-icon font-size-10 ml-2 d-md-none">
										<use xlink:href="images/svg-sprite/svgSprite.svg#arrow"></use>
									</svg>
								</h4>
								<div id="collapse2" class="collapse show" data-parent="#accordionExample">
									<ul class="list-unstyled mb-0">
										<li><a class="text-grey" href="#">Lorem Ipsum</a></li>
										<li><a class="text-grey" href="#">Is simply dummy text</a></li>
										<li><a class="text-grey" href="#">Printing and typesetting</a></li>
										<li><a class="text-grey" href="#">Lorem Ipsum has</a></li>
									</ul>
								</div>
							</div>
							<div class="column mb-4">
								<h4 class="title-collapse collapsed mb-1" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapse3">
									<span>About</span>
									<svg class="svg-icon font-size-10 ml-2 d-md-none">
										<use xlink:href="images/svg-sprite/svgSprite.svg#arrow"></use>
									</svg>
								</h4>
								<div id="collapse3" class="collapse show" data-parent="#accordionExample">
									<ul class="list-unstyled mb-0">
										<li><a class="text-grey" href="#">Lorem Ipsum</a></li>
										<li><a class="text-grey" href="#">Is simply dummy text</a></li>
										<li><a class="text-grey" href="#">Printing and typesetting</a></li>
										<li><a class="text-grey" href="#">Lorem Ipsum has</a></li>
									</ul>
								</div>
							</div>
							<div class="column mb-4">
								<h4 class="title-collapse collapsed mb-1" data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapse4">
									<span>Contact</span>
									<svg class="svg-icon font-size-10 ml-2 d-md-none">
										<use xlink:href="images/svg-sprite/svgSprite.svg#arrow"></use>
									</svg>
								</h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<hr class="devider mt-4 mb-3">
		<div class="row pb-2 pb-sm-0">
			<div class="col-xl-11 ml-auto mr-auto">
				<div class="row flex-column flex-sm-row">
					<div class="column">
						<ul class="list-unstyled row">
							<li class="column"><a class="text-main-light " href="#">Terms</a></li>
							<li class="column"><a class="text-main-light " href="#">Privacy</a></li>
							<li class="column"><a class="text-main-light " href="#">License</a></li>
						</ul>
					</div>
					<div class="column ml-sm-auto">
						<div class="socials">
							<a class="socials-link pr-1 mr-3 mb-2" href="#">
								<svg class="svg-icon">
									<use xlink:href="images/svg-sprite/svgSprite.svg#icon-twitter"></use>
								</svg>
							</a>
							<a class="socials-link pr-1 mr-3 mb-2" href="#">
								<svg class="svg-icon">
									<use xlink:href="images/svg-sprite/svgSprite.svg#icon-fb"></use>
								</svg>
							</a>
							<a class="socials-link pr-1 mr-3 mb-2" href="#">
								<svg class="svg-icon">
									<use xlink:href="images/svg-sprite/svgSprite.svg#LinkedIn"></use>
								</svg>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>