<header class="header header_v2">
	<div class="container-fluid">
		<div class="row align-items-center">
			<div class="column mr-auto">
				<a class="logo" href="#">
					<img src="images/logo-footer.svg" style="width: 55px;" alt="">
				</a>
			</div>
			<div class="menu" data-id="menu">
				<div class="menu-inner">
					<button class="menu-close button-clr" type="button" data-toggle="toggleVisible" data-target="menu">
						<svg class="svg-icon font-size-22 text-white">
							<use xlink:href="images/svg-sprite/svgSprite.svg#close"></use>
						</svg>
					</button>
					<ul class="menu-nav d-flex flex-wrap">
						<li class="d-inline-block w-75 w-lg-auto delay-1s"><a href="#">Home</a></li>
						<li class="d-inline-block w-75 w-lg-auto delay-15ms"><a href="#">Shop</a></li>
						<li class="d-inline-block w-75 w-lg-auto delay-2s"><a href="#">About</a></li>
						<li class="d-inline-block w-75 w-lg-auto delay-25ms"><a href="#">Contact</a></li>
					</ul>
				</div>
			</div>
			<div class="column">
				<a class="basket" href="#">
					<img src="images/shopping-cart.svg" style="width: 22px;" alt="">
					<div class="basket__indicator indicator">1</div>
				</a>
			</div>
			<div class="column">
				<a class="button button-colored-border on-white button-callback" href="#">
					<span class="button-in">
						<img class="d-lg-none" src="images/tel.svg" width="30" alt="">
						<span class="button-text d-none d-lg-block">Contact Us</span>
					</span>
				</a>
			</div>
			<div class="column d-lg-none">
				<button class="menu-nav-toggle button-clr text-white" data-toggle="toggleVisible" data-target="menu">
					<img src="images/menu.svg" width="30" alt="">
				</button>
			</div>
		</div>
	</div>
</header>