<header class="header wow fadeInDown animated" data-wow-duration="2s" data-wow-delay="300ms">
	<div class="container-fluid">
		<div class="row align-items-center">
			<div class="column mr-auto">
				<a class="logo" href="#">
					<img src="images/logo.svg" style="width: 55px;" alt="">
				</a>
			</div>
			<div class="menu" data-id="menu">
				<div class="menu-inner">
					<button class="menu-close button-clr" type="button" data-toggle="toggleVisible" data-target="menu">
						<svg class="svg-icon font-size-22 text-white">
							<use xlink:href="images/svg-sprite/svgSprite.svg#close"></use>
						</svg>
					</button>
					<ul class="menu-nav d-flex flex-wrap align-items-center">
						<li class="d-inline-block w-75 w-lg-auto delay-1s"><a href="#">Home</a></li>
						<li class="d-inline-block w-75 w-lg-auto delay-15ms">
							<div class="menu-dropdown">
								<a class="menu-dropdown-toggle"href="shop.html">
									<span>Shop</span>
									<svg class="svg-icon">
										<use xlink:href="images/svg-sprite/svgSprite.svg#carret"></use>
									</svg>
								</a>
								<ul class="menu-dropdown-drop list-unstyled">
									<li>
										<a href="#">Yii development</a>
									</li>
									<li>
										<a href="#">Laravel development</a>
									</li>
									<li>
										<a href="#">Wordpress development</a>
									</li>
									<li>
										<a href="#">Design</a>
									</li>
									<li>
										<a href="#">Android development</a>
									</li>
									<li>
										<a href="#">iOS development</a>
									</li>
								</ul>
							</div>
						</li>
						<li class="d-inline-block w-75 w-lg-auto delay-2s"><a href="#">About</a></li>
						<li class="d-inline-block w-75 w-lg-auto delay-25ms"><a href="#">Contact</a></li>
					</ul>
				</div>
			</div>
			<div class="column">
				<a class="basket" href="#">
					<svg class="svg-icon font-size-22 text-white">
						<use xlink:href="images/svg-sprite/svgSprite.svg#basket"></use>
					</svg>
					<div class="basket__indicator indicator">1</div>
				</a>
			</div>
			<div class="column">
				<button class="button button-callback" data-toggle="modal" data-target="#exampleModalCenter">
					<svg class="svg-icon d-lg-none font-size-22">
						<use xlink:href="images/svg-sprite/svgSprite.svg#phone"></use>
					</svg>
					<span class="d-none d-lg-block">Contact Us</span>
				</button>
			</div>
			<div class="column d-lg-none">
				<button class="menu-nav-toggle button-clr text-white" data-toggle="toggleVisible" data-target="menu">
					<svg class="svg-icon font-size-22">
						<use xlink:href="images/svg-sprite/svgSprite.svg#menu"></use>
					</svg>
				</button>
			</div>
		</div>
	</div>
</header>